<div id='container' ng-controller="ShortenController as shortCTRL">
<!-- Your code here -->
  <div class="shortenLink">
   <form>
        <input ng-class="isValidUrl() ? 'invalid' : ''" ng-model="newLink" class='text ' type='text' name='url' required>
        <input ng-click="addLink()" type='submit' value='Shorten'>
    </form>
    <img class='spinner' src='../assets/spiffygif_46x46.gif' ng-show="showSpin">
    <div class='message' ng-show="isValidUrl()">URL Not Valid</div>

    <div class='link' ng-show="lastlink">
      <img src='../assets/redirect_icon.png'/>
       <div class='info'>
         <div class='visits'><span class='count'>{{lastlink.visits}}</span>Visits</div>
         <div class='title'>{{lastlink.title}}</div>
         <div class='original'>{{lastlink.url}}</div>
         <a href='{{lastlink.baseUrl}}/{{lastlink.code}}'>{{lastlink.baseUrl}}/{{lastlink.code}}</a>
       </div>
    </div>
  </div>
</div>




